# Flutter/Dart/Pub related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android related
/android/app/google-services.json
/android/local.properties
*.iml
.gradle/
/android/key.properties

# iOS/macOS related
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/
/ios/Pods/
/ios/.symlinks/
/ios/Runner/GeneratedPluginRegistrant.*
/macos/Flutter/GeneratedPluginRegistrant.*

# VS Code / IntelliJ / Xcode
.idea/
.vscode/
*.swp
*.lock
*.log

# Others
.metadata
